<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDqE6RlJAqiwEi0SnwlVBWMV3pUZyY1E0E</string>
	<key>GCM_SENDER_ID</key>
	<string>830369899680</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myPetInfo</string>
	<key>PROJECT_ID</key>
	<string>mypetinfo-day</string>
	<key>STORAGE_BUCKET</key>
	<string>mypetinfo-day.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:830369899680:ios:94933ac2ea880afee895c5</string>
</dict>
</plist>